table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 2px;
}

table {
  width: 100%;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

html {
  background-color: #062F4F;
}

body {
  background-color: #062F4F !important;
}

.myMain {
  margin-left: 10%;
  margin-right: 10%;
  min-height: 800px;
  background-color: #f5f5f5;
  padding: 0.5% 10%;
}

.description {
  color: #01111E;
  font: italic bold 15px/30px Georgia, serif;
  font-weight: 100%
}

.error {
  color: red;
  font-weight: bold;
}
